<h1>게시글 목록 입니다.</h1>

<hr>
<ul>
    <% @notes.each do |note| %>
        <li><a href='/notes/<%= note.id%>'><%= note.title %></a></li>
    <% end %>
</ul>
<br>

<h4><a href = '/notes/new'>새로운 게시글 작성</a></h4>