<h1>새로운 글을 작성 해주세요</h1>
<form action = '/notes/create'>
    <p>제목:<input name = 'input_title' type = 'text'></input></p>
    <p>내용:<input name = 'input_content' type = 'text'></input></p>
    <input type = 'submit'></input>
    
</form>